<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject_parniyanroosta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject_ParniyanRoosta">
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:label="Login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.finalproject_parniyanroosta.MainActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".AboutMe"
            android:label="About me"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.finalproject_parniyanroosta.MainActivity" />
        </activity>
        <activity
            android:name=".ContactPage"
            android:label="Contact"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.finalproject_parniyanroosta.MainActivity" />
        </activity>
        <activity
            android:name=".Category_Painting"
            android:label="Painting"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.finalproject_parniyanroosta.MainActivity" />
        </activity>
        <activity
            android:name=".Category_Knitting"
            android:label="Knitting"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.finalproject_parniyanroosta.MainActivity" />
        </activity>
        <activity
            android:name=".Category_Pottery"
            android:label="Pottery"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.finalproject_parniyanroosta.MainActivity" />
        </activity>
        <activity
            android:name=".Category_Embroidery"
            android:label="Embroidery"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.finalproject_parniyanroosta.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>